extends layout
include mixins/_dodaneSzukaj
include mixins/_wpisCard
block content
  .container
    h1.Header Bezpieczne zakupy
    .saveShoop__entry
      span 1. Zachowaj bezpieczną odległość od innych klientów i sprzedawców.

    .saveShoop__entry
      span 2. Wybierz płatność bezgotówkową.

    .saveShoop__entry
      span 3. Zrezygnuj z zakupów jeśli zauważasz u siebie objawy infekcji.

    .saveShoop__entry
      span 4. Jeśli w sklepie dostępne są jednorazowe rękawiczki- skorzystaj z nich.

    .saveShoop__entry
      span 5. Postaraj się umyć i odkazić ręce przed i po zakupach. 

    .saveShoop__entry
      span 6. Jeśli jesteś osobą przewlekle chorą lub w podeszłym wieku najlepiej poproś o pomoc w zakupach swoich bliskich. 

    h1.Header Objawy COVID-19
    .saveShoop__entry.saveShoop__entry__objawy
      p  Najczęściej występujące objawy choroby to gorączka, kaszel, duszność, problemy z oddychaniem. Chorobie mogą towarzyszyć bóle mięśni i zmęczenie. Innymi objawiami mogą być także jadłowskręt i biegunka.
    .saveShoop__entry.saveShoop__entry__objawy
      p <a href="tel:800190590" class="objawy--tel"> 800 190 590</a>  - numer infolinii Narodowego Funduszu Zdrowia dotyczącej postępowania w sytuacji podejrzenia zakażenia koronawirusem.


