mixin popular()
  span.Header Najpopularniejsze
  p.popular Lista największych sklepów które w większości zmieniają goodziny otwarcia. Lista jest przez nas aktualizowana każdego dnia.
  .localList
    .localList__entry
      img(src="img/biedronka2.png", alt="", srcset="")
      h3.localList__entry--title Biedronka
      .localList__entry__godziny 
        span.localList__entry__godziny--info W niektórych placówkach obowiązuje przerwa techniczna 13:30-14:30
        span.localList__entry__godziny--czas 08:00 / 07:00 - 20:00/21:00

    .localList__entry
      img(src="img/zabka.png", alt="", srcset="")
      h3.localList__entry--title Żabka
      .localList__entry__godziny 
        span.localList__entry__godziny--info Wszystkie żabki otwarte są w godzinach:
        span.localList__entry__godziny--czas 07:00 - 22:00

    .localList__entry
      img(src="img/hebe.png", alt="", srcset="")
      h3.localList__entry--title Hebe
      .localList__entry__godziny 
        span.localList__entry__godziny--info Niektóre placówki mogą być zamknięte do odwołania
        span.localList__entry__godziny--czas 09:00 - 18:00
    .localList__entry
      img(src="img/lidl.png", alt="", srcset="")
      h3.localList__entry--title Lidl
      .localList__entry__godziny 
        span.localList__entry__godziny--info Od dnia 20 marca również Lidl zmienia godziny pracy
        span.localList__entry__godziny--czas 07:00 - 21:00
    .localList__entry
      img(src="img/netto2.png", alt="", srcset="")
      h3.localList__entry--title Netto
      .localList__entry__godziny 
        span.localList__entry__godziny--info  Godziny otwarcia:
        span.localList__entry__godziny--czas 07:00 - 21:00
    .localList__entry
      img(src="img/kaufland.png", alt="", srcset="")
      h3.localList__entry--title Kaufland
      .localList__entry__godziny 
        span.localList__entry__godziny--info Godziny otwarcia:
        span.localList__entry__godziny--czas 07:00 - 22:00
    .localList__entry
      img(src="img/castorama2.png", alt="", srcset="")
      h3.localList__entry--title Castorama
      .localList__entry__godziny 
        span.localList__entry__godziny--info Godziny otwarcia zależne od miasta, zamknięcie:
        span.localList__entry__godziny--czas do 20:00
    .localList__entry
      img(src="img/pepco.png", alt="", srcset="")
      h3.localList__entry--title Pepco
      .localList__entry__godziny 
        span.localList__entry__godziny--info Godziny otwarcia zależne od miasta, zamknięcie:
        span.localList__entry__godziny--czas do 21:00


